.ipynb_checkpoints
__pycache__
**/*.bak

.idea
trained_models/checkpoint_adam_tb_logs/events.out.tfevents.1605103110.RYTW-ACER.10272.0
trained_models/checkpoint_adam_tb_logs/events.out.tfevents.1605026389.RYTW-ACER.9648.0

trained_models/best_pascal_checkpoint_adam_tps_grid_loss.pth.tar
trained_models/best_pascal_checkpoint_adam_tps_grid_loss_resnet_random.pth.tar
trained_models/best_streetview_checkpoint_adam_affine_grid_loss_PAMI.pth.tar
trained_models/best_streetview_checkpoint_adam_hom_grid_loss_PAMI.pth.tar
trained_models/best_streetview_checkpoint_adam_tps_grid_loss_PAMI.pth.tar
trained_models/checkpoint_adam/best_checkpoint_adam_affine_grid_lossvgg.pth.tar
trained_models/checkpoint_adam/checkpoint_adam_affine_grid_lossvgg.pth.tar
trained_models/resnet101testmodel/best_resnet101testmodel_hom_grid_lossresnet101.pth.tar
trained_models/resnet101testmodel/best_resnet101testmodel_hom_grid_lossvgg.pth.tar
trained_models/resnet101testmodel/resnet101testmodel_hom_grid_lossresnet101.pth.tar
trained_models/resnet101testmodel/resnet101testmodel_hom_grid_lossvgg.pth.tar
trained_models/best_pascal_checkpoint_adam_affine_grid_loss_resnet_random.pth.tar
