.ipynb_checkpoints
__pycache__
**/*.bak

.idea
trained_models/checkpoint_adam_tb_logs/events.out.tfevents.1605103110.RYTW-ACER.10272.0
trained_models/checkpoint_adam_tb_logs/events.out.tfevents.1605026389.RYTW-ACER.9648.0
*.tar
